.BuildControls {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #ff9751;
  box-shadow: 1px 1px 5px rgb(199, 199, 199);
  width: 30%;
  margin: auto;
  border: 1px solid #a38475;
  border-radius: 2px;
  padding: 0 5px;
}
