.BuildControls {
  display: flex;
  flex-direction: column;
  background-color: rgba(77, 77, 77, 0.6);
  box-shadow: 1px 1px 5px rgb(110, 110, 110);
  width: 30%;
  margin: auto;
  margin-top: 5%;
  border: 1px solid #a38475;
  border-radius: 2px;
  padding: 0 5px 10px 5px;
  text-align: center;
  color: white;
}

.price-display {
  font-weight: 900;
  font-size: 1.1rem;
}

.checkout-button {
  justify-content: center;
  margin-top: 10px;
  width: 40%;
  align-self: center;
  padding: 10px;
  border: 1px solid #685952;
  border-radius: 2px;
  background-color: rgb(4, 160, 4);
  font-size: 1.01rem;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgb(117, 116, 116);
  color: white;
}

.checkout-button:hover,
.checkout-button:active {
  color: black;
  font-weight: 900;
  border: 1px solid #3a312e;
}

.checkout-button:disabled {
  cursor: not-allowed;
  border: 1px solid gray;
  background-color: rgb(75, 73, 73);
  color: rgb(173, 173, 173);
}

.checkout-button:not(:disabled) {
  animation: ready 0.3s linear;
}

@keyframes ready {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
