.Burger {
  width: 100%;
  margin: auto;
  max-height: 650px;
  overflow: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgba(219, 219, 219, 0.3);
  border: 1px solid #8a7063;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgb(110, 110, 110);
  padding-top: 20px;
}

@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 700px;
    height: 600px;
  }
}
@media (min-width: 500px) and (min-height: 401px) {
  .Burger {
    width: 450px;
    height: 400px;
  }
}
@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 350px;
    height: 300px;
  }
}
