.navigationItem a{
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  color: inherit;
  font-weight: 600;
  box-sizing: border-box;
  display: flex;
  border-top: 1px solid transparent;
}

.navigationItem a:hover {
    border-top: 1px solid rgb(228, 133, 10);
}

.navigationItem a:active,
.navigationItem a.active {
  background-color: rgb(228, 133, 10);
}
