.SideDrawerContainer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.32 ease-out;
}

.SideDrawerContainer img {
    height: 10%;
    width: 30%;
    background-color: rgb(228, 133, 10);
    border:1px solid white;
    box-sizing: border-box;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}

@media (min-width: 500px) {
    .SideDrawerContainer {
        display: none;
    }
}