.Button {
    background-color: orange;
    color: white;
    padding: 10px;
    font-size: 1.08rem;
    margin-bottom: 8px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(255, 165, 0, 0.5);
    cursor: pointer;
}

.Button:first-of-type {
    margin-right: 20px;
}

.Button:last-of-type {
    margin-left: 20px;
}