#navigationItems-list {
  display: flex;
  list-style: none;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

#navigationItems-list li a {
  padding-right: 20px;
  color: inherit;
  font-weight: 600;
}

#navigationItems-list li a:last-of-type {
  padding: 0;
}

#navigationItems-list li a:hover {
    text-decoration: none;
}