.Modal-container {
  position: fixed;
  z-index: 500;
  width: 30%;
  text-align: center;
  border: 1px solid #8a7063;
  border-radius: 2px;
  left: 35%;
  top: 25%;
  box-shadow: 1px 1px 5px rgb(110, 110, 110);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  background-color: rgba(255, 255, 255, 0.8);
}

.Modal-container ul {
  list-style: decimal;
}

.Modal-container ul li {
  text-transform: capitalize;
}

@media (min-width: 600px) {
  #Modal-container {
    width: 500px;
    left: calc(50% - 250px);
  }
}
